@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    font-family: "Inter", sans-serif;
}
:root {
    --primary-color:#4CAF4F;
    --scendary-color:#F5F7FA;  
    --basic-color:#717171;
}

   /* Navbar */
.header {
    background-color: var(--scendary-color);
}
.sign-btn {
    background-color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    border: 1px solid var(--primary-color);
}

.login-btn {
    background-color: var(--scendary-color);
    color: var(--primary-color);
    border: none;
 }

 /* hero section */
.hero-section{
    margin-top: 80px;
    gap: 75px;
    height: 76vh;
}

.heading1 {
    font-size: 64px;
}

.heading2 {
    font-size: 64px;
    color: var(--primary-color);
}


 .reg-btn {
    background-color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    border: 1px solid var(--primary-color);
 }

 /* Clients section */

 .client-heading {
    font-weight: 600;
    font-size: 36px;
 }

 .client-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: var(--basic-color);
 }


.card-heading{
    font-size: 28px;
    font-weight: 700;
}

.card-paragraph {
    font-size: 14px;
    font-weight: 400;
    color: var(--basic-color);
}


/* helping section */
.help-bg-color {
    background-color: var(--scendary-color);
}

.help-heading1{
    font-size: 36px;
    font-weight: 600;
}

.help-heading2 {
    font-size: 36px;
    font-weight: 600;
    color: var(--primary-color);
}


/* design footer section */

.design-paragraph {
    font-size: 13px;
    color: var(--basic-color);
}


/* Customer's section */

.Customer section {
    background-color: var(--scendary-color);
}

.Customer-paragraph {
    font-size: 13px;
    font-weight: 500;
    color: var(--basic-color);
}
.Customer-tital {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.Customer-body {
    font-size: 16px;
    font-weight: 400;
    color: var(--basic-color);
}

/* marketing section */
.border-radius-0{
    border-radius: 0px !important;
}
.w-90{
    width: 90% !important;
}
.w-85{
    width: 85% !important;
}
.card-details {
    background-color: var(--scendary-color);
    color: var(--basic-color);
}

.marketing-heading {
    font-size: 36px;
    font-weight: 600;
}

.marketing-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: var(--basic-color);
}

/* demo  section */
.demo-section {
    background-color: var(--scendary-color);
}

.demo-heading {
    font-size: 64px;
    font-weight: 600;
}

/* footer section */
.footer {
    background-color: #263238;
}
.text-white-50::placeholder{
    color: gray;
    padding-left: 7px;
}

